
  <div class="row">
    <div class="form-group col-md-6">
        <label for="level">Sort By Level</label>
        <select id="level" name="level" #selLevel
                class="form-control">
          <option *ngFor="let level of levels" [value]="level.id">
            {{level.name}}
          </option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="level">Sort By Date</label>
        <input type="date" id="fdate"   (change)="selectedDate()" />
      </div>
  </div>
<div class="table-responsive">
    <table class="table table-bordered" *ngIf="recipes && recipes.length">
      <thead>
        <tr class="bg-primary">
          <th>Id</th>
          <th>Recipe</th>
          <th>Image</th>
          <th>Ingredients</th>
          <th>steps</th>
          <th>Level</th>
          <th>Created Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recipe of recipes">
          <td>{{ recipe.Id }}</td>
          <td>{{ recipe.Title }}</td>
          <td>{{ recipe.Images }}</td>
          <td>{{ recipe.Ingredients }}</td>
          <td>{{ recipe.Steps }}</td>
          <td>{{ recipe.Level }}</td>
          <td>{{ recipe.CreatedDate | date: 'mediumDate' }}</td>
          <td> <button class="btn btn-primary" (click)="editButtonClick(recipe.Id)">Edit</button> </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container">
    <div class="row"> 
      <div *ngIf="pageSize != 0" class="col-md-9"  style="width: 500px;overflow:auto;">
        <ul class="pagination justify-content-center"   style="width: 500px;overflow:auto;">
          <li *ngFor="let page of pageField;let i=index" class="page-item">
            <a (click)="showRecipesByPageNumber(page,i)" [ngClass]="pageNumber[i] ? 'pageColor':'page-link'"
              style=" margin-right: 5px;;margin-top: 5px">{{page}}</a>
            &nbsp;
          </li>
        </ul>
        <div style="text-align: center;">
          Page {{currentPage}} of Total page {{paginationService.exactPageList}}
        </div>
      </div>
    </div>
  </div>